<div class="row">
  <div class="col-md-12 text-center">
    <div class="row pt-1 mb-2" id="welcome-row">
      <div class="col-md-4 text-center mb-2">
        <h1 class="h5">
          <i class="fab fa-android fa-lg mr-2 text-primary"></i>
          {{ name }}<i class="fab fa-apple fa-lg ml-2 mr-1 text-primary"></i>
        </h1>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="h5">Bienvenue sur {{ name }} {{ userFirstname }} !</h2>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="resume">Avec {{ name }}, restes en contact avec ta famille ou tes amis et planifies,
          organise ou partage tous les bons moments passés ensembles !
        </h2>
      </div>
    </div>
    <hr>
    <div class="item-title-wrapper">
      <div class="col-md-12 text-center">
        <h3 class="item-title">Tes tribus :<i class="fas fa-list"></i></h3>
      </div>
    </div>
    <div class="card-wrapper" style="width: 25rem;" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="example-card" *ngFor="let tribe of tribes">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('{{tribe.picture}}); background-size: cover;"></div>
          <mat-card-title>{{tribe.name}}</mat-card-title>
          <mat-card-subtitle>{{tribe.resume}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{tribe.tribePicture}}" alt="Illustration de la tribu">
        <mat-card-content>
          <p>
            {{tribe.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr>
    <div class="button-wrapper">
        <button class="createTribe" mat-raised-button color="primary">Créer une nouvelle tribu</button>
    </div>
  </div>
</div>
