#welcome-row {
  text-align: center;
}

.app-resume {
  padding-left: 37%;
  padding-right: 37%;
}

.tribe-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  cursor: pointer;
}

.resume {
  font-size: 14px;
}

.item-title-wrapper {
  font-size: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  font-family: 'Aller';
  background-color: #303030;
}

carousel-component{
  display: block;
  overflow: hidden;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

#button-next {
  position: absolute;
  right: 10%;
  top: 50%;
}

#button-prev {
  position: absolute;
  left: 10%;
  top: 50%;
}

#button-next:focus, #button-prev:focus {
  outline-style: none;
}

.tribe-card {
  margin: auto;
  height: 600px;
}

/* .example-header-image {
  background-image: url('src/assets/img/famille_ferreira.jpg');
  background-size: cover;
} */

.button-wrapper {
  text-align: center;
}

.createTribe {
  width: 12%;
  font-size: 16px;
}
