@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Aller';
  src: url("assets/fonts/Aller_Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
